//colors

    //primary
$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
    //neutral
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

//Typography

$Default-Font-Size: 1.6rem;

$Cyan-opacity: hsla(179, 62%, 43%, 0.747);